* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------header section-----------------*/
header {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav {
    background-color: black;
}

.top-nav ul {
    gap: 15px;
}

.top-nav a {
    color: white;
}

.top-nav a:hover {
    color: white;
    font-weight: bold;
}

.bottom-nav {
    padding: 15px;
}

.bottom-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.bottom-nav li {
    list-style: none;
}

.bottom-nav a {
    text-decoration: none;
    color: black;
}

.bottom-nav a:hover {
    color: black;
    font-weight: bold;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 30%;
    width: 80%;
}
/*----------------------------------------------*/

/*---------------main section-----------------*/

/*--------------------------------------------*/
